{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}


{% block main-content %}
<br><br>
<div class="container border mt-2 bg-light">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'app/images/product/contact.png' %}" class="img-responsive" width="100%"/>
        </div>
        <div class="col-md-6 p-5 text-white"><br>
            <form  action="https://formspree.io/f/mleyekpo" method="POST" style="display: flex; flex-direction: column; width: 22rem; gap: 1rem;">
                <input type="text" name="Name" placeholder="Full Name" required style="padding: 1rem; background: transparent;">
                <input type="email" name="Email" placeholder="Email" required style="padding: 1rem; background: transparent;">
                <textarea name="Message" placeholder="Message.." required style="padding: 1rem; background: transparent;"></textarea>
                <button type="submit" style="width: 7rem; padding: 1rem; cursor:pointer; background-color: #1c8454; color:white; margin-left: 40%; margin-top: 7%;">Send</button>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock main-content %}